body {
	font:14px/1.5 Arial, sans-serif;
}

:focus {
	outline: 0;
}

/* -- BUTTON -- */
.btn, .b-button {
	color: #fff;
	cursor: pointer;
	padding: 4px 12px 5px;
	outline: none;
	display: inline-block;
	zoom: 1;
	*display: inline;
	font-size: 15px;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	-webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5), inset 0 -1px 1px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5), inset 0 -1px 1px rgba(0, 0, 0, 0.4);
	box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5), inset 0 -1px 1px rgba(0, 0, 0, 0.4);
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	-moz-border-radius: 4px;
	border-radius: 4px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
	text-decoration: none;
	background: #639ed4;
	background: -moz-linear-gradient(top, #639ed4 0%, #3e87ca 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #639ed4), color-stop(100%, #3e87ca));
	background: -webkit-linear-gradient(top, #639ed4 0%, #3e87ca 100%);
	background: -o-linear-gradient(top, #639ed4 0%, #3e87ca 100%);
	background: -ms-linear-gradient(top, #639ed4 0%, #3e87ca 100%);
	background: linear-gradient(top, #639ed4 0%, #3e87ca 100%);
	border: 2px solid #fff;
}

	.btn_press, .b-button_press {
		padding: 5px 12px 4px;
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5), inset 0 -1px 1px rgba(255, 255, 255, 0.4);
		-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5), inset 0 -1px 1px rgba(255, 255, 255, 0.4);
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5), inset 0 -1px 1px rgba(255, 255, 255, 0.4);
	}

	.btn_focus, .b-button_focus {
		border-color: #FFEE6E;
	}

	.btn_hover, .b-button_hover {
		background: #8eb9e0;
		background: -moz-linear-gradient(top, #8eb9e0 0%, #5e9bd2 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8eb9e0), color-stop(100%, #5e9bd2));
		background: -webkit-linear-gradient(top, #8eb9e0 0%, #5e9bd2 100%);
		background: -o-linear-gradient(top, #8eb9e0 0%, #5e9bd2 100%);
		background: -ms-linear-gradient(top, #8eb9e0 0%, #5e9bd2 100%);
		background: linear-gradient(top, #8eb9e0 0%, #5e9bd2 100%);
	}

	.btn_disabled, .b-button_disabled {
		cursor: default;
		background: #cccccc;
		background: -moz-linear-gradient(top, #cccccc 0%, #c1c1c1 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cccccc), color-stop(100%, #c1c1c1));
		background: -webkit-linear-gradient(top, #cccccc 0%, #c1c1c1 100%);
		background: -o-linear-gradient(top, #cccccc 0%, #c1c1c1 100%);
		background: -ms-linear-gradient(top, #cccccc 0%, #c1c1c1 100%);
		background: linear-gradient(top, #cccccc 0%, #c1c1c1 100%);
	}

/* -- /BUTTON -- */


/* --- CHECKBOX -- */
.cbx, .b-checkbox {
	top: -1.5px;
    width: 11px;
    height: 11px;
    cursor: pointer;
    margin: 0 4px 0 1px;
	border: 1px solid rgba(155, 155, 155, .57);
	outline: none;
	display: inline-block;
	zoom: 1;
	*display: inline;
    position: relative;
    vertical-align: middle;
    background-color: rgba(255, 255, 255, .05);
    border-radius: 1px;
}
	.cbx input, .b-checkbox input {
		position: absolute;
		visibility: hidden;
	}
	.cbx_focus, .b-checkbox_focus {
		border: 1px solid #4D90FE;
	}
	.cbx_hover, .b-checkbox_hover {
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.2);
		-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.2);
		box-shadow: inset 0 1px 1px rgba(0,0,0,.2);
	}
	.cbx_checked, .b-checkbox_checked {
		background-color: rgba(255, 255, 255, .65);
	}

	.cbx__checkmark, .b-checkbox__checkmark {
		top: -1px;
		left: 0;
		width: 15px;
		height: 15px;
		display: block;
		position: relative;
		background-repeat: no-repeat;
		background-position: -5px -5px;
	}
		.cbx_checked .cbx__checkmark, .b-checkbox_checked .b-checkbox__checkmark {
			background-image: url('./cbx__checkmark.png');
		}


/* --- /CHECKBOX -- */


/* -- DROPDOWN -- */
.b-dropdown {
	display: inline-block;
	zoom: 1;
	*display: inline;
	position: relative;
	margin-right: 20px;
}
	.b-dropdown_disabled {
		opacity: .5;
	}

	.b-dropdown__link {
		color: #06c;
		cursor: pointer;
		outline: 4px solid #eee;
		background-color: #eee;
		padding: 0 1px;
		border-bottom: 1px dotted #06c;
		-webkit-transition: all .2s ease;
		-moz-transition: all .2s ease;
		-ms-transition: all .2s ease;
		-o-transition: all .2s ease;
		transition: all .2s ease;
	}
		.b-dropdown__link_focus,
		.b-dropdown__link_hover {
			outline-color: #ccc;
			background-color: #ccc;
		}

		.b-dropdown__link_hover {
			color: #f60;
			border-color: #f60;
		}

		.b-dropdown__link_expanded {
			color: #fff;
			border: none;
			outline-color: #06c;
			background-color: #06c;
		}

	.b-dropdown__list {
		top: 22px;
		left: -3px;
		padding: 1px;
		min-width: 150px;
		line-height: 130%;
		position: absolute;
		box-shadow: 0 0 4px rgba(0,0,0,.65);
		border-radius: 0 2px 2px 2px;
		background-color: #fff;
		opacity: 0;
		visibility:hidden;
		-webkit-transition: opacity .2s ease;
		-moz-transition: opacity .2s ease;
		-ms-transition: opacity .2s ease;
		-o-transition: opacity .2s ease;
		transition: opacity .2s ease;
	}
		.b-dropdown__list_expanded {
			opacity: 1;
			visibility:visible;
		}
		.b-dropdown__list__filter {
			margin: 2px 6px 2px 2px;
		}
/* -- /DROPDOWN -- */


/* -- LIST -- */
.b-list {}
	.b-list__item,
	.b-dropdown__list__item {
		cursor: pointer;
		padding: 2px 10px;
	}
		.b-list__item_hover,
		.b-dropdown__list__item_hover {
			color: #fff;
			background-color: #f60;
		}

		.b-list__item_disabled,
		.b-dropdown__list__item_disabled {
			color: #ccc;
		}
/* -- /LIST -- */


/* --- FILTER --- */
.b-filter {}
	.b-filter__input {
		width: 100%;
		color: #222;
		border: 1px inset #ccc;
		font-size: 13px;
	}

	.b-filter__list {}
		.js-filter-item {
			overflow: hidden;
			max-height: 35px;
			-webkit-transition: opacity .2s ease, max-height .2s ease, padding-top .2s ease, padding-bottom .2s ease;
			-moz-transition: opacity .2s ease, max-height .2s ease, padding-top .2s ease, padding-bottom .2s ease;
			-o-transition: opacity .2s ease, max-height .2s ease, padding-top .2s ease, padding-bottom .2s ease;
		}
			.b-filter__list__item_no {
				opacity: 0;
				max-height: 0;
				padding-top: 0;
				padding-bottom: 0;
				visibility: hidden;
			}

			.b-filter__list__item_yes { }
			.b-filter__list__item__highlight {
				background-color: #ffee6e;
			}
/* --- /FILTER --- */




.b-todos {
	width: 400px;
	padding: 10px 30px 15px 15px;
	border-radius: 5px;
	box-shadow: 0 0 4px rgba(0,0,0,.4);
}
	.b-todos__h1 {
		margin: 0 0 10px;
		text-align: center;
	}
	.b-todos__inp {
		width: 100%;
		padding: 6px;
		font-size: 24px;
		box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
	}

	.b-todos__list {
		margin-top: 10px;
		padding-top: 10px;
		margin-bottom: 10px;
		padding-bottom: 10px;
	}
		.b-todos__list_active {
		}

		.b-todos__list__item {
			display: block;
			padding: 4px 10px;
			background-color: #fff;
			-webkit-transition: all .2s ease;
			-moz-transition: all .2s ease;
			-ms-transition: all .2s ease;
			-o-transition: all .2s ease;
			transition: all .2s ease;
		}
			.b-todos__list__item_hover {
				background-color: #eee;
			}
			.b-todos__list__item .cbx {
				margin-right: 10px;
			}
			.b-todos__list__item_checked {
				text-decoration: line-through;
			}
