body {
	font-family: "Arial", Helvetica, Garuda, sans-serif;
}

:focus {
    outline: none;
}

/* -- BUTTON -- */
.btn, .b-button {
	font-size: 15px;
	color: #fff;
	padding: 4px 12px 5px;
	outline: none;
	display: inline-block;
	zoom: 1;
	*display: inline;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	-webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5), inset 0 -1px 1px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5), inset 0 -1px 1px rgba(0, 0, 0, 0.4);
	box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5), inset 0 -1px 1px rgba(0, 0, 0, 0.4);
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	-moz-border-radius: 4px;
	border-radius: 4px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
	text-decoration: none;
	background: #639ed4;
	background: -moz-linear-gradient(top, #639ed4 0%, #3e87ca 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #639ed4), color-stop(100%, #3e87ca));
	background: -webkit-linear-gradient(top, #639ed4 0%, #3e87ca 100%);
	background: -o-linear-gradient(top, #639ed4 0%, #3e87ca 100%);
	background: -ms-linear-gradient(top, #639ed4 0%, #3e87ca 100%);
	background: linear-gradient(top, #639ed4 0%, #3e87ca 100%);
	border: 2px solid #fff;
}

	.btn_press, .b-button_press {
		padding: 5px 12px 4px;
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5), inset 0 -1px 1px rgba(255, 255, 255, 0.4);
		-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5), inset 0 -1px 1px rgba(255, 255, 255, 0.4);
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5), inset 0 -1px 1px rgba(255, 255, 255, 0.4);
	}

	.btn_focus, .b-button_focus {
		border-color: #FFEE6E;
	}

	.btn_hover, .b-button_hover {
		background: #8eb9e0;
		background: -moz-linear-gradient(top, #8eb9e0 0%, #5e9bd2 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8eb9e0), color-stop(100%, #5e9bd2));
		background: -webkit-linear-gradient(top, #8eb9e0 0%, #5e9bd2 100%);
		background: -o-linear-gradient(top, #8eb9e0 0%, #5e9bd2 100%);
		background: -ms-linear-gradient(top, #8eb9e0 0%, #5e9bd2 100%);
		background: linear-gradient(top, #8eb9e0 0%, #5e9bd2 100%);
	}

	.btn_disabled, .b-button_disabled {
		cursor: default;
		background: #cccccc;
		background: -moz-linear-gradient(top, #cccccc 0%, #c1c1c1 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cccccc), color-stop(100%, #c1c1c1));
		background: -webkit-linear-gradient(top, #cccccc 0%, #c1c1c1 100%);
		background: -o-linear-gradient(top, #cccccc 0%, #c1c1c1 100%);
		background: -ms-linear-gradient(top, #cccccc 0%, #c1c1c1 100%);
		background: linear-gradient(top, #cccccc 0%, #c1c1c1 100%);
	}

/* -- /BUTTON -- */


/* --- CHECKBOX -- */
.cbx, .b-checkbox {
	top: -1.5px;
    width: 11px;
    height: 11px;
    cursor: pointer;
    margin: 0 4px 0 1px;
	border: 1px solid rgba(155, 155, 155, .57);
	outline: none;
	display: inline-block;
	zoom: 1;
	*display: inline;
    position: relative;
    vertical-align: middle;
    background-color: rgba(255, 255, 255, .05);
    border-radius: 1px;
}
	.cbx input, .b-checkbox input {
		position: absolute;
		visibility: hidden;
	}
	.cbx_focus, .b-checkbox_focus {
		border: 1px solid #4D90FE;
	}
	.cbx_hover, .b-checkbox_hover {
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.2);
		-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.2);
		box-shadow: inset 0 1px 1px rgba(0,0,0,.2);
	}
	.cbx_checked, .b-checkbox_checked {
		background-color: rgba(255, 255, 255, .65);
	}

	.cbx__checkmark, .b-checkbox__checkmark {
		top: -1px;
		left: 0;
		width: 15px;
		height: 15px;
		display: block;
		position: relative;
		background-repeat: no-repeat;
		background-position: -5px -5px;
	}
		.cbx_checked .cbx__checkmark, .b-checkbox_checked .b-checkbox__checkmark {
			background-image: url('./cbx__checkmark.png');
		}
/* --- /CHECKBOX -- */


/* --- RADIO -- */
.b-radio {
	width: 11px;
	height: 11px;
	border: 1px solid rgba(155, 155, 155, .57);
	display: inline-block;
	position: relative;
	border-radius: 100%;
	overflow: hidden;
}
	.b-radio_focus {
		border: 1px solid #4D90FE;
	}

	.b-radio_hover {
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.2);
		-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.2);
		box-shadow: inset 0 1px 1px rgba(0,0,0,.2);
	}

	.b-radio input {
		width: 0;
		height: 0;
		opacity: 0;
		overflow: hidden;
	}

	.b-radio__bubble {
		top: 3px;
		left: 3px;
		width: 5px;
		height: 5px;
		display: block;
		overflow: hidden;
		position: absolute;
		visibility: hidden;
		border-radius: 100%;
		background-color: #666;
	}
		.b-radio_checked .b-radio__bubble {
			visibility: visible;
		}
/* --- /RADIO -- */


/* -- DROPDOWN -- */
.b-dropdown {
	display: inline-block;
	zoom: 1;
	*display: inline;
	position: relative;
	margin-right: 20px;
}
	.b-dropdown_disabled {
		opacity: .5;
	}

	.b-dropdown__ctrl {
		color: #06c;
		cursor: pointer;
		outline: 4px solid #eee;
		background-color: #eee;
		padding: 0 1px;
		border-bottom: 1px dotted #06c;
		-webkit-transition: all .2s ease;
		-moz-transition: all .2s ease;
		-ms-transition: all .2s ease;
		-o-transition: all .2s ease;
		transition: all .2s ease;
	}
		.b-dropdown__ctrl_focus,
		.b-dropdown__ctrl_hover {
			outline-color: #ccc;
			background-color: #ccc;
		}

		.b-dropdown__ctrl_hover {
			color: #f60;
			border-color: #f60;
		}

		.b-dropdown__ctrl_expanded {
			color: #fff;
			border: none;
			outline-color: #06c;
			background-color: #06c;
		}

	.b-dropdown__list {
		top: 22px;
		left: -3px;
		padding: 1px;
		min-width: 150px;
		line-height: 130%;
		position: absolute;
		box-shadow: 0 0 4px rgba(0,0,0,.65);
		border-radius: 0 2px 2px 2px;
		background-color: #fff;
		opacity: 0;
		visibility:hidden;
		-webkit-transition: opacity .2s ease;
		-moz-transition: opacity .2s ease;
		-ms-transition: opacity .2s ease;
		-o-transition: opacity .2s ease;
		transition: opacity .2s ease;
	}
		.b-dropdown__list_expanded {
			opacity: 1;
			visibility:visible;
		}
		.b-dropdown__list__filter {
			margin: 2px 6px 2px 2px;
		}
/* -- /DROPDOWN -- */


/* -- LIST -- */
.b-list {}
	.b-list__item,
	.b-dropdown__list__item {
		cursor: pointer;
		padding: 2px 10px;
	}
		.b-list__item_hover,
		.b-dropdown__list__item_hover {
			color: #fff;
			background-color: #f60;
		}

		.b-list__item_disabled,
		.b-dropdown__list__item_disabled {
			color: #ccc;
		}
/* -- /LIST -- */


/* --- FILTER --- */
.b-filter {}
	.b-filter__input {
		width: 100%;
		color: #222;
		border: 1px inset #ccc;
		font-size: 13px;
	}

	.b-filter__list {}
		.js-filter-item {
			overflow: hidden;
			max-height: 35px;
			-webkit-transition: opacity .2s ease, max-height .2s ease, padding-top .2s ease, padding-bottom .2s ease;
			-moz-transition: opacity .2s ease, max-height .2s ease, padding-top .2s ease, padding-bottom .2s ease;
			-o-transition: opacity .2s ease, max-height .2s ease, padding-top .2s ease, padding-bottom .2s ease;
		}
			.b-filter__list__item_no {
				opacity: 0;
				max-height: 0;
				padding-top: 0;
				padding-bottom: 0;
				visibility: hidden;
			}

			.b-filter__list__item_yes { }
			.b-filter__list__item__highlight {
				background-color: #ffee6e;
			}
/* --- /FILTER --- */


/* --- SELECT --- */
.b-select {
	display: inline-block;
	position: relative;
	max-width: 200px;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
	.b-select select {
		width: 0;
		position: absolute;
		visibility: hidden;
	}

	.b-select__ctrl {
		border: 1px solid #999;
		padding: 1px 20px 1px 5px;
		border-radius: 4px;
		background: -moz-linear-gradient(top, #fff 0%, #f5f5f5 49%, #ececec 50%, #eee 100%); /* FF3.6+ */
		background: -webkit-linear-gradient(top, #fff 0%,#f5f5f5 49%,#ececec 50%,#eee 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #fff 0%,#f5f5f5 49%,#ececec 50%,#eee 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #fff 0%,#f5f5f5 49%,#ececec 50%,#eee 100%); /* IE10+ */
		background: linear-gradient(to bottom, #fff 0%,#f5f5f5 49%,#ececec 50%,#eee 100%); /* W3C */
	}
		.b-select__ctrl_expanded {
		}

		.b-select__ctrl:after {
			top: 9px;
			right: 8px;
			width: 0;
			height: 0;
			content: '';
			display: block;
			position: absolute;
			border-style: solid;
			border-width: 4px 4px 0;
			border-color: #777 transparent;
		}

		.b-select__ctrl_focus {
			border-color: #fa0;
			box-shadow: 0 0 2px #fa0;
		}

	.b-select__options {
		top: 25px;
		left: 0;
		width: 100%;
		padding: 5px 0;
		box-shadow: 0 1px 7px rgba(0,0,0,.55);
		border-radius: 4px;
		display: none;
		z-index: 10000;
		overflow: auto;
		position: absolute;
		background-color: #fff;
		white-space: nowrap;
	}
		.b-select__options_expanded {
			display: block;
		}

	.b-select__options__optgroup__label {
		color: #ccc;
		font-weight: bold;
		padding-left: 20px;
	}

		.b-select__options__optgroup .b-select__options__option {
			padding-left: 40px;
		}

		.b-select__options__option {
			padding-top: 2px;
			padding-left: 20px;
			padding-bottom: 3px;
		}
			.b-select__options__option_hover {
				color: #fff;
				cursor: pointer;
				background-color: #3366cc;
			}

			.b-select__options__option_disabled {
				color: #ccc;
			}

			.b-select__options__option_selected:before {
				left: 0;
				width: 20px;
				content: '√ ';
				display: block;
				position: absolute;
				text-align: center;
			}
/* --- /SELECT --- */


/* --- b-tags --- */
.b-tags {
	overflow: hidden;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	position: relative;
	border-radius: 5px;
}
	.b-tags_hover {
		box-shadow: 0 0 3px rgba(0,0,0,.65);
	}
	.b-tags_focus {
		box-shadow: 0 0 3px rgba(0,0,255,.65);
	}

	.b-tags__tag {
		color: #fff;
		display: inline-block;
		position: relative;
		padding: 1px 15px 2px 5px;
		margin-right: 5px;
		margin-bottom: 5px;
		font-size: 15px;
		font-family: "Arial", Helvetica, Garuda, sans-serif;
		border-radius: 8px;
		background-color: #81A4C9;
		overflow: hidden;
		border: 2px solid transparent;
	}
		.b-tags__tag__text {
			display: block;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
		.b-tags__tag_hover {
			background-color: #81CCC9;
		}

		.b-tags__tag_new {
			padding: 0 4px 1px;
			background-color: #CCD5DE;
		}

		.b-tags__tag_focus {
			border: 2px solid blue;
		}

		.b-tags__tag__remove {
			top: 0;
			right: 3px;
			cursor: pointer;
			display: block;
			position: absolute;
		}
			.b-tags__tag__remove:after {
				color: red;
				content: 'x';
				font-weight: normal;
			}

	.b-tags__input {
		color: #000;
		width: 0;
		border: 0;
		margin: 0;
		outline: 0;
		font-size: 15px;
		font-family: "Arial", Helvetica, Garuda, sans-serif;
		background-color: transparent;
	}
/* --- /b-tags --- */
